@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_xjz7zpxq91i.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_xjz7zpxq91i.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_xjz7zpxq91i.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_xjz7zpxq91i.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_xjz7zpxq91i.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_xjz7zpxq91i.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}